<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <center><title>Events</title></center>

    <script th:src="@{/script.js}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel = "stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<nav th:fragment="navigation">
    <ul>
        <li><a href="/events">All events</a></li>
        <li><a href="/events/create"> Create event</a></li>
    </ul>
</nav>

<table>
    <td th:fragment="address">1234 5th St</td>
</table>

</body>
</html>